---
import ArticleCard from "../../components/ArticleCard.astro";
import Pagination from "../../elements/Pagination.astro";
import { Api } from "../../../types/enum";

const t = (x: string): string => x;

interface Props {
  posts: Content[];
  totalPages?: number;
  currentPage?: number;
  tag?: Tag;
}

const { posts, totalPages, currentPage, tag } = Astro.props;
---

<div class="pressroom announcement full width container">
  <h2>{tag?.name || t("Press Room / Latest Announcements")}</h2>
  <div class="articles">
    {
      (posts || []).map((post: Content) => {
        return <ArticleCard type={Api.Pressroom} post={post} />;
      })
    }
  </div>

  <Pagination
    type={Api.Pressroom}
    tag={tag}
    currentPage={currentPage}
    totalPages={totalPages}
  />
</div>
