---
import { getKeyValuePairFrom } from "../../../util/protocol";
import FilterTabs from "./FilterTabs.astro";
import OutlinedButtonList from "../../components/OutlinedButtonList.astro";
import InputWithIcon from "../../elements/InputWithIcon.astro";
import Contract from "./Contract.astro";
import { labels } from "../../data/protocol";
import Breadcrumb from "../../elements/Breadcrumb.astro";

interface Props {
  network: NetworkConfig;
  tabItems: TabItem[];
  type: ProtocolContractType;
  data: ProtocolContracts;
}

const { network, tabItems, type, data } = Astro.props;

const iterable =
  type === "cxTokens" ? getKeyValuePairFrom(data[type], "active") : data[type];

const expired =
  type === "cxTokens" ? getKeyValuePairFrom(data[type], "expired") : [];

const convertBytes32 = type === "pods" ? true : false;

const items = [
  {
    link: "/",
    name: "Home",
  },
  {
    link: "/web3-tools/",
    name: "Web3 Tools",
  },
  {
    link: "#",
    name: "Protocol Contracts",
  },
];
---

<div class="container contract details">
  <Breadcrumb items={items} />

  <div class="container titles">
    <h1>{network.title}</h1>
    <a href={network.app} target="_blank">
      {network.app}
    </a>
  </div>

  <OutlinedButtonList tabItems={tabItems} />

  <p class="details title">
    {labels[type]}
  </p>

  <InputWithIcon
    className="search input"
    iconProps={{
      variant: "search-lg",
      size: "lg",
    }}
    placeholder="Search"
    value=""
  />

  {
    type === "cxTokens" && (
      <FilterTabs
        className={"cxToken contract"}
        cxTokens={data?.cxTokens ?? []}
      />
    )
  }

  <div data-scope="regular" class="ui contracts list view">
    {
      iterable.map((item) => (
        <Contract
          type={type}
          contract={item}
          network={network}
          convertBytes32={convertBytes32}
        />
      ))
    }
  </div>

  {
    expired.length > 0 && (
      <>
        <div
          data-scope="expired"
          class="hidden ui initially contracts list view"
        >
          {expired.map((item) => (
            <Contract
              type={type}
              contract={item}
              network={network}
              convertBytes32={convertBytes32}
            />
          ))}
        </div>
      </>
    )
  }
</div>
