---
import TableOfContents from "../../components/TableOfContents.astro";
import ContractDetails from "./ContractDetails.astro";
import { getToc } from "../../data/protocol";
import NetworkSelect from "./NetworkSelect.astro";

interface Props extends ContractProps {}

const { network, type, data } = Astro.props;
---

<div class="neptune protocol contracts">
  <div class="protocol inner container">
    <TableOfContents
      toc={getToc(network)}
      showLabel={false}
      showTitle={false}
    />

    <div class="toc mobile">
      <NetworkSelect toc={getToc(network)} />
    </div>

    <ContractDetails network={network} type={type} data={data} />
  </div>
</div>
