---
import Icon from "../../elements/Icon.astro";
import { tools } from "../../data/tools";
---

<div class="tools container">
  <ul class="inner container">
    {
      tools.map((tool) => {
        return (
          <li class="tool list item">
            <a href={`/web3-tools/${tool.slug}/`}>
              <div class="title and badge">
                <h3>{tool.title}</h3>
                {tool.badges.map((badge) => {
                  return (
                    <div class="badge container">
                      <div class="badge icon">
                        <Icon variant={badge.icon} size="md" />
                      </div>
                      <div class="badge name">{badge.text}</div>
                    </div>
                  );
                })}
              </div>

              <p>{tool.intro}</p>

              <div class="category and arrow">
                <div class="category container">
                  <div class="category icon">
                    <Icon variant={tool.icon} size="lg" />
                  </div>
                  <div class="category name">{tool.category}</div>
                </div>

                <div class="arrow container">
                  <Icon variant="arrow-right" />
                </div>
              </div>
            </a>
          </li>
        );
      })
    }
  </ul>
</div>
