---
import BlogPostHero from "./BlogPostHero.astro";
import RelatedPosts from "./RelatedPosts.astro";
import NewsletterSignupForm from "../../components/NewsletterSignupForm.astro";

import { parseContent } from "../../../util/content-viewer";
import { BlogOrPressroom } from "../../../types/enum";
import PostContentContainer from "../../components/PostContentContainer.astro";

interface Props {
  type: BlogOrPressroom;
  structured: "BlogPosting" | "NewsArticle";
  post: Article;
  related: Article[];
}

const { type, post, related, structured } = Astro.props;

const {
  tag,
  title,
  intro,
  parsedHtml,
  tags,
  pageUrl,
  createdAt,
  publishedAt,
  timeToRead,
  featuredImage,
  alt,
} = await parseContent(type, ["html"], post);

const publishDate = new Date(createdAt || (publishedAt as Date));
---

<div itemscope itemtype={`https://schema.org/${structured}`}>
  <BlogPostHero
    publishedAt={publishDate}
    timeToRead={timeToRead}
    type={type}
    tags={tags}
    title={title}
    intro={intro}
    featuredImage={featuredImage}
    alt={alt}
  />

  <PostContentContainer
    type={type}
    title={title}
    intro={intro}
    html={parsedHtml}
    tags={tags}
    pageUrl={pageUrl}
    showSocial={true}
  />

  <RelatedPosts type={type} tagSlug={tag?.slug} relatedPosts={related} />

  <NewsletterSignupForm
    heading="Sign up for our newsletter"
    text="Be the first to know about releases and industry news and insights."
    showFeedButtons
    atomLink={`/feeds/${type}/atom.xml`}
    rssLink={`/feeds/${type}/rss.xml`}
  />
</div>
