---
import HeaderSection from "../components/HeaderSection.astro";
import PostContentContainer from "../components/PostContentContainer.astro";

import { parseContent } from "../../util/content-viewer";
import { Api } from "../../types/enum";

interface Props {
  pages: Page[];
  page: Page;
}

const { pages, page } = Astro.props;

const t = (x: string): string => x;
const { intro, toc, parsedHtml, tags, pageUrl } = await parseContent(
  "policies",
  ["html"],
  page
);
---

<div class="policy page container">
  <HeaderSection heading="Policies" color={"basic"} alignment={"left"}>
    <div class="ui tab buttons">
      {
        pages.map(({ slug, title }) => (
          <a
            class={`${page.slug === slug ? "active" : ""} item`.trim()}
            href={`/policies/${slug}/`}
          >
            {t(`${title}`)}
          </a>
        ))
      }
    </div>
  </HeaderSection>

  <PostContentContainer
    type={Api.Policy}
    title="Policies"
    intro={intro}
    toc={toc}
    html={parsedHtml}
    tags={tags}
    pageUrl={pageUrl}
    showSocial={false}
  />
</div>
