---
import Breadcrumb from "../elements/Breadcrumb.astro";
import HeaderSection from "../components/HeaderSection.astro";
import PostContentContainer from "../components/PostContentContainer.astro";

import { parseContent } from "../../util/content-viewer";
import { Api } from "../../types/enum";

interface Props {
  program: Program;
}

const { program } = Astro.props;

const { title, intro, toc, parsedHtml, pageUrl } = await parseContent(
  "grants-and-bounties",
  ["html"],
  program
);

const t = (x: string): string => x;

const items = [
  {
    link: "/",
    name: "Home",
  },
  {
    link: "/grants-and-bounties",
    name: t("Grants and Bounties"),
  },
  {
    link: `/grants-and-bounties/${program.slug}`,
    name: t(program.title),
  },
];
---

<div class="program detail container">
  <HeaderSection color={"basic"} heading={title} alignment={"center"} />

  <div class="main wrapper">
    <PostContentContainer
      type={Api.Program}
      title={title}
      intro={intro}
      toc={toc}
      html={parsedHtml}
      pageUrl={pageUrl}
      showSocial={true}
    >
      <Fragment slot="pre">
        <Breadcrumb items={items} />
      </Fragment>
    </PostContentContainer>
  </div>
</div>
