---
import Breadcrumb from "../elements/Breadcrumb.astro";
import Button from "../elements/buttons/Button.astro";
import PostContentContainer from "../components/PostContentContainer.astro";
import HeaderSection from "../components/HeaderSection.astro";

import { parseContent } from "../../util/content-viewer";
import { normalizeUrl } from "../../util/url";
import { Api } from "../../types/enum";

interface Props {
  vacancy: Vacancy;
}

const { vacancy } = Astro.props;

const { title, intro, toc, parsedHtml, pageUrl } = await parseContent(
  "careers",
  ["html"],
  vacancy
);

const t = (x: string): string => x;

const items = [
  {
    link: "/",
    name: "Home",
  },
  {
    link: "/careers",
    name: t("Careers"),
  },
  {
    link: `/careers/${vacancy.slug}`,
    name: t(vacancy.title),
  },
];
const { expired } = vacancy;
---

<div class="vacancy detail container">
  <HeaderSection color={"basic"} heading={title} alignment={"center"} />

  <div class="main wrapper">
    <PostContentContainer
      type={Api.Vacancy}
      title={title}
      intro={intro}
      toc={toc}
      html={parsedHtml}
      pageUrl={pageUrl}
      showSocial={!expired}
    >
      <Fragment slot="pre">
        <Breadcrumb items={items} />

        {
          expired && (
            <div class="ui warning">
              <div class="header">
                <strong>Expired</strong>
              </div>
              <p>We are no longer accepting candidates for this vacancy.</p>
            </div>
          )
        }

        <div class="job details">
          <div class="item">
            <span class="label">
              {t("Department")}
            </span>
            <span class="value">{vacancy.department}</span>
          </div>
          <div class="item">
            <span class="label">
              {t("Job Type")}
            </span>
            <span class="value">{vacancy.type}</span>
          </div>
          <div class="item">
            <span class="label">
              {t("Location")}
            </span>
            <span class="value">{vacancy.location}</span>
          </div>
        </div>

        <div class="about this vacancy">
          <span></span>
          <div>
            {t("About this Vacancy")}
          </div>
        </div>
      </Fragment>

      {
        !expired && (
          <Fragment slot="post">
            <div class="button container">
              <Button
                variant={"primary"}
                type={"anchor"}
                target="_blank"
                href={normalizeUrl(vacancy.form)}
                rel="noreferrer noopener nofllow"
                size="lg"
                iconTrailing="arrow-square-up-right"
              >
                {t("Submit My Job Application")}
              </Button>
            </div>
          </Fragment>
        )
      }
    </PostContentContainer>
  </div>
</div>
