---
import { normalizeUrl } from "../../util/url";

export async function getStaticPaths(): Promise<CatchAllStaticPath[]> {
  const pages: CatchAllPageData[] = [];

  return pages.map(({ slug, props }) => {
    return {
      params: { slug },
      props,
    };
  });
}

const props = Astro.props;
const url = Astro.url;
---

{
  props.redirect && (
    <html>
      <head>
        <meta
          http-equiv="refresh"
          content={`2;url=${normalizeUrl(props.dest)}`}
        />
        <title>Page Moved</title>
        <meta name="robots" content="noindex" />
      </head>
      <body>
        This page has moved to{" "}
        <a href={normalizeUrl(props.dest)}>{props.dest}</a>.
      </body>
    </html>
  )
}

{
  !props.redirect && (
    <html>
      <head>
        <meta name="robots" content="noindex" />
        <title>{url}</title>
      </head>
      <body>{url}</body>
    </html>
  )
}
