---
import ArticleCard from "../../components/ArticleCard.astro";
import Pagination from "../../elements/Pagination.astro";
import TagFilters from "./TagFilters.astro";
import TagFilterDropdown from "./TagFilterDropdown.astro";
import { Api } from "../../../types/enum";

import { slugify } from "../../../util/slug";
import InputWithIcon from "../../elements/InputWithIcon.astro";

import SearchModal from "../../components/SearchModal.astro";

interface Props {
  articles: Article[];
  totalPages?: number;
  currentPage?: number;
  tag?: Tag;
}

const { articles, totalPages, currentPage, tag }: Props = Astro.props;

const heading = tag?.name || "All Stories";
const slug = tag?.slug ?? slugify(heading);
---

<div class="blog post full width container">
  <div class="inner container">
    <div class="text and cta">
      <div class="text">
        <h2 id={slug}>{heading}</h2>
      </div>
    </div>

    <div class="desktop only visible">
      <TagFilters />
      <InputWithIcon
        className="blog search script only"
        iconProps={{
          variant: "search-lg",
        }}
        placeholder="Search"
        value=""
        id={"SearchInputSearch"}
      />
    </div>

    <div class="mobile only visible">
      <TagFilterDropdown />
    </div>

    <div class="blog posts">
      {
        articles.map((post) => (
          <div class="single card">
            <ArticleCard type={Api.Blog} post={post} />
          </div>
        ))
      }
    </div>
    <Pagination
      type={Api.Blog}
      tag={tag}
      currentPage={currentPage}
      totalPages={totalPages}
    />
  </div>
</div>

<SearchModal inputPlaceholder="Search the Blog" />
