---
import Icon from "../../elements/Icon.astro";
import { formatBlogDate } from "../../../util/format";

interface Props {
  data: CommunityBlogItem[];
}

const { data }: Props = Astro.props;
---

<div class="weekly reports section">
  <div class="inner full width container">
    <div class="text and cta">
      <div class="text">
        <h2 id="community-weekly-reports">Community: Weekly Reports</h2>
      </div>

      <a
        href="https://community.neptunemutual.com/c/general/4"
        target="_blank"
        rel="noopener noreferrer"
      >
        View All Reports
        <Icon variant="link-external-01" size="lg" />
      </a>
    </div>

    <div class="reports grid">
      {
        data.map((item, i) => (
          <div class="single report">
            <a
              href={`https://community.neptunemutual.com/t/${item.slug}`}
              target="_blank"
              rel="noopener noreferrer"
            >
              <img
                src={item.image_url}
                alt={`Image for blog titled: ${item.title}`}
              />

              <div class="right">
                <p class="date">{formatBlogDate(item.created_at)}</p>
                <h3>{item.title}</h3>
                {/*<p class="description"></p> */}
              </div>
            </a>
          </div>
        ))
      }
    </div>
  </div>
</div>
