---
import Icon from "../elements/Icon.astro";
import NpmDarkLogo from "../elements/icons/custom/npm-logo-dark-mode.svg?raw";
import NpmLightLogo from "../elements/icons/custom/npm-logo-light-mode.svg?raw";

import { getFooterData } from "../data/footer";
import { normalizeUrl } from "../../util/url";

const { lists, socials } = await getFooterData();
---

<footer>
  <div class="inner container">
    <div class="nav container">
      <a class="logo" href="/">
        <span class="sr-only">Neptune Mutual</span>
        <span class="light only" set:html={NpmLightLogo} />
        <span class="dark only" set:html={NpmDarkLogo} />
      </a>

      <nav>
        {
          lists.map((list) => {
            return (
              <div class="list">
                <h2>{list.title}</h2>
                <ul>
                  {list.links.map((link) => {
                    return (
                      <li>
                        {link.isExternal ? (
                          <a
                            href={normalizeUrl(link.href)}
                            target="_blank"
                            rel="noreferrer"
                          >
                            {link.text}
                          </a>
                        ) : (
                          <a
                            href={normalizeUrl(link.href)}
                            data-include-theme={link.includeTheme ? true : null}
                          >
                            {link.text}
                          </a>
                        )}

                        {link.badge && (
                          <div
                            data-color={link?.badgeColor || "info"}
                            class="badge"
                          >
                            {link.badge}
                          </div>
                        )}
                      </li>
                    );
                  })}
                </ul>
              </div>
            );
          })
        }
      </nav>
    </div>

    <div class="risk warning">
      <div class="inner container">
        <h3>Risk Warning</h3>
        <p>
          Trading crypto assets involves significant risk and can result in the
          loss of your capital. You should not invest more than you can afford
          to lose and you should ensure that you fully understand the risks
          involved. Before trading, please take into consideration your level of
          experience, investment objectives, and seek independent financial
          advice if necessary. It is your responsibility to ascertain whether
          you are permitted to use the services of Neptune Mutual based on the
          legal requirements in your country of residence.
        </p>
      </div>
    </div>

    <div class="copyright">
      <p class="text">Neptune Mutual &copy; 2022</p>

      <div class="social">
        {
          socials.map((link) => {
            return (
              <a
                href={normalizeUrl(link.href)}
                target="_blank"
                rel="noopener noreferrer"
              >
                <span class="sr-only">{link.text}</span>
                <Icon size={"xl"} variant={link.icon} />
              </a>
            );
          })
        }
      </div>
    </div>
  </div>
</footer>
