---
import Button from "../../elements/buttons/Button.astro";
import { getEnumerable } from "../../../service/api";
import { Api } from "../../../types/enum";

const t = (x: string): string => x;

const roadmap = (await getEnumerable<Roadmap>(Api.Roadmap, 1000, 0)).sort(
  (a, b) => a.sort - b.sort
);

const updated = [];

let complete = true;
for (let idx = 0; idx < roadmap.length; idx++) {
  const el = roadmap[idx];
  updated.push({
    ...el,
    completed: complete,
    current: el.current,
    future: !complete,
  });

  if (el.current) {
    complete = false;
  }
}
---

<div class="ui roadmap container">
  <div class="inner container">
    <div class="text container">
      <h2>
        <div class="subheading">
          {t("Roadmap")}
        </div>
        <div class="heading">
          {t("Follow Our Story. Join Our Community.")}
        </div>
      </h2>
      <div class="supporting text">
        {t("Our roadmap for growing the Neptune Mutual Ecosystem.")}
      </div>
    </div>

    <div class="ui checked timeline list">
      {
        updated.map((item, idx) => {
          return (
            <button
              class:list={[
                "item",
                {
                  future: item.future,
                  completed: item.completed,
                  current: item.current,
                },
              ]}
              data-slide-index={idx}
              data-scope={item.slug}
            >
              <div class="check element">
                <div class="status" />
              </div>
              <p class="name">{item.title}</p>
            </button>
          );
        })
      }
    </div>
    <div class="ui timeline story list">
      {
        updated.map((item, idx) => {
          return (
            <div class="story item" data-slide-index={idx}>
              <h3 class="title">{item.title}</h3>
              <div class="text" set:html={item.contentHtml} />
            </div>
          );
        })
      }
    </div>
  </div>

  <div class="arrows script only">
    <Button
      id="PreviousRoadmapButton"
      variant={"secondary-gray"}
      icon="only"
      iconLeading="arrow-left"
    >
      Previous
    </Button>
    <Button
      id="NextRoadmapButton"
      variant={"secondary-gray"}
      icon="only"
      iconLeading="arrow-right"
    >
      Next
    </Button>
  </div>
</div>
