---
import Button from "../elements/buttons/Button.astro";
const t = (x: string): string => x;
---

<div class="main">
  <h2>UI Buttons</h2>
  <div>
    <h3>All Variants</h3>
    <br />
    <table>
      <thead>
        <tr>
          <th></th>
          <th>Primary</th>
          <th>Secondary Gray</th>
          <th>Link Gray</th>
          <th>Link Color</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Icon Only</th>
          <td>
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              icon="only"
              target={"_blank"}
              size={"2xl"}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"primary"}
            >
              {t("2xl")}
            </Button>
            <br />
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              icon="only"
              target={"_blank"}
              size={"xl"}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"primary"}
            >
              {t("xl")}
            </Button>
            <br />
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              icon="only"
              target={"_blank"}
              size={"lg"}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"primary"}
            >
              {t("lg")}
            </Button>
            <br />
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              icon="only"
              target={"_blank"}
              size={"md"}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"primary"}
            >
              {t("md")}
            </Button>
            <br />
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              icon="only"
              target={"_blank"}
              size={"sm"}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"primary"}
            >
              {t("ms")}
            </Button>
            <br />
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              icon="only"
              target={"_blank"}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"primary"}
            >
              {t("Primary Button")}
            </Button>
          </td>
          <td>
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              icon="only"
              target={"_blank"}
              size={"2xl"}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"secondary-gray"}
            >
              {t("2xl")}
            </Button>
            <br />
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              icon="only"
              target={"_blank"}
              size={"xl"}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"secondary-gray"}
            >
              {t("xl")}
            </Button>
            <br />
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              icon="only"
              target={"_blank"}
              size={"lg"}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"secondary-gray"}
            >
              {t("lg")}
            </Button>
            <br />
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              icon="only"
              target={"_blank"}
              size={"md"}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"secondary-gray"}
            >
              {t("md")}
            </Button>
            <br />
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              icon="only"
              target={"_blank"}
              size={"sm"}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"secondary-gray"}
            >
              {t("sm")}
            </Button>
            <br />
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              icon="only"
              target={"_blank"}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"secondary-gray"}
            >
              {t("Secondary Button")}
            </Button>
          </td>
          <td>
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              icon="only"
              target={"_blank"}
              size={"2xl"}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"link-gray"}
            >
              {t("2xl")}
            </Button>
            <br />
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              icon="only"
              target={"_blank"}
              size={"xl"}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"link-gray"}
            >
              {t("xl")}
            </Button>
            <br />
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              icon="only"
              target={"_blank"}
              size={"lg"}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"link-gray"}
            >
              {t("lg")}
            </Button>
            <br />
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              icon="only"
              target={"_blank"}
              size={"md"}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"link-gray"}
            >
              {t("md")}
            </Button>
            <br />
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              icon="only"
              target={"_blank"}
              size={"sm"}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"link-gray"}
            >
              {t("sm")}
            </Button>
            <br />
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              icon="only"
              target={"_blank"}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"link-gray"}
            >
              {t("Link Gray Button")}
            </Button>
          </td>
          <td>
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              icon="only"
              target={"_blank"}
              size={"2xl"}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"link-color"}
            >
              {t("2xl")}
            </Button>
            <br />
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              icon="only"
              target={"_blank"}
              size={"xl"}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"link-color"}
            >
              {t("xl")}
            </Button>
            <br />
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              icon="only"
              target={"_blank"}
              size={"lg"}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"link-color"}
            >
              {t("lg")}
            </Button>
            <br />
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              icon="only"
              target={"_blank"}
              size={"md"}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"link-color"}
            >
              {t("md")}
            </Button>
            <br />
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              icon="only"
              target={"_blank"}
              size={"sm"}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"link-color"}
            >
              {t("sm")}
            </Button>
            <br />
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              icon="only"
              target={"_blank"}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"link-color"}
            >
              {t("Link Color Button")}
            </Button>
          </td>
        </tr>

        <tr>
          <th>Regular</th>
          <td>
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              target={"_blank"}
              size={"2xl"}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"primary"}
            >
              {t("2xl")}
            </Button>
            <br />
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              target={"_blank"}
              size={"xl"}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"primary"}
            >
              {t("xl")}
            </Button>
            <br />
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              target={"_blank"}
              size={"lg"}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"primary"}
            >
              {t("lg")}
            </Button>
            <br />
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              target={"_blank"}
              size={"md"}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"primary"}
            >
              {t("md")}
            </Button>
            <br />
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              target={"_blank"}
              size={"sm"}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"primary"}
            >
              {t("ms")}
            </Button>
            <br />
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              target={"_blank"}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"primary"}
            >
              {t("Primary Button")}
            </Button>
          </td>
          <td>
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              target={"_blank"}
              size={"2xl"}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"secondary-gray"}
            >
              {t("2xl")}
            </Button>
            <br />
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              target={"_blank"}
              size={"xl"}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"secondary-gray"}
            >
              {t("xl")}
            </Button>
            <br />
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              target={"_blank"}
              size={"lg"}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"secondary-gray"}
            >
              {t("lg")}
            </Button>
            <br />
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              target={"_blank"}
              size={"md"}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"secondary-gray"}
            >
              {t("md")}
            </Button>
            <br />
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              target={"_blank"}
              size={"sm"}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"secondary-gray"}
            >
              {t("sm")}
            </Button>
            <br />
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              target={"_blank"}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"secondary-gray"}
            >
              {t("Secondary Button")}
            </Button>
          </td>
          <td>
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              target={"_blank"}
              size={"2xl"}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"link-gray"}
            >
              {t("2xl")}
            </Button>
            <br />
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              target={"_blank"}
              size={"xl"}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"link-gray"}
            >
              {t("xl")}
            </Button>
            <br />
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              target={"_blank"}
              size={"lg"}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"link-gray"}
            >
              {t("lg")}
            </Button>
            <br />
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              target={"_blank"}
              size={"md"}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"link-gray"}
            >
              {t("md")}
            </Button>
            <br />
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              target={"_blank"}
              size={"sm"}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"link-gray"}
            >
              {t("sm")}
            </Button>
            <br />
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              target={"_blank"}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"link-gray"}
            >
              {t("Link Gray Button")}
            </Button>
          </td>
          <td>
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              target={"_blank"}
              size={"2xl"}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"link-color"}
            >
              {t("2xl")}
            </Button>
            <br />
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              target={"_blank"}
              size={"xl"}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"link-color"}
            >
              {t("xl")}
            </Button>
            <br />
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              target={"_blank"}
              size={"lg"}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"link-color"}
            >
              {t("lg")}
            </Button>
            <br />
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              target={"_blank"}
              size={"md"}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"link-color"}
            >
              {t("md")}
            </Button>
            <br />
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              target={"_blank"}
              size={"sm"}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"link-color"}
            >
              {t("sm")}
            </Button>
            <br />
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              target={"_blank"}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"link-color"}
            >
              {t("Link Color Button")}
            </Button>
          </td>
        </tr>
        <tr>
          <th>Disabled</th>
          <td>
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              target={"_blank"}
              size={"2xl"}
              disabled={true}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"primary"}
            >
              {t("2xl")}
            </Button>
            <br />
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              target={"_blank"}
              size={"xl"}
              disabled={true}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"primary"}
            >
              {t("xl")}
            </Button>
            <br />
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              target={"_blank"}
              size={"lg"}
              disabled={true}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"primary"}
            >
              {t("lg")}
            </Button>
            <br />
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              target={"_blank"}
              size={"md"}
              disabled={true}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"primary"}
            >
              {t("md")}
            </Button>
            <br />
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              target={"_blank"}
              size={"sm"}
              disabled={true}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"primary"}
            >
              {t("sm")}
            </Button>
            <br />
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              target={"_blank"}
              disabled={true}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"primary"}
            >
              {t("Primary Disabled Button")}
            </Button>
          </td>
          <td>
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              target={"_blank"}
              size={"2xl"}
              disabled={true}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"secondary-gray"}
            >
              {t("2xl")}
            </Button>
            <br />
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              target={"_blank"}
              size={"xl"}
              disabled={true}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"secondary-gray"}
            >
              {t("xl")}
            </Button>
            <br />
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              target={"_blank"}
              size={"lg"}
              disabled={true}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"secondary-gray"}
            >
              {t("lg")}
            </Button>
            <br />
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              target={"_blank"}
              size={"md"}
              disabled={true}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"secondary-gray"}
            >
              {t("md")}
            </Button>
            <br />
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              target={"_blank"}
              size={"sm"}
              disabled={true}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"secondary-gray"}
            >
              {t("sm")}
            </Button>
            <br />
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              target={"_blank"}
              disabled={true}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"secondary-gray"}
            >
              {t("Secondary Gray Disabled Button")}
            </Button>
          </td>
          <td>
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              target={"_blank"}
              size={"2xl"}
              disabled={true}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"link-gray"}
            >
              {t("2xl")}
            </Button>
            <br />
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              target={"_blank"}
              size={"xl"}
              disabled={true}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"link-gray"}
            >
              {t("xl")}
            </Button>
            <br />
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              target={"_blank"}
              size={"lg"}
              disabled={true}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"link-gray"}
            >
              {t("lg")}
            </Button>
            <br />
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              target={"_blank"}
              size={"md"}
              disabled={true}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"link-gray"}
            >
              {t("md")}
            </Button>
            <br />
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              target={"_blank"}
              size={"sm"}
              disabled={true}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"link-gray"}
            >
              {t("sm")}
            </Button>
            <br />
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              target={"_blank"}
              disabled={true}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"link-gray"}
            >
              {t("Link Gray Disabled Button")}
            </Button>
          </td>
          <td>
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              target={"_blank"}
              size={"2xl"}
              disabled={true}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"link-color"}
            >
              {t("2xl")}
            </Button>
            <br />
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              target={"_blank"}
              size={"xl"}
              disabled={true}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"link-color"}
            >
              {t("xl")}
            </Button>
            <br />
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              target={"_blank"}
              size={"lg"}
              disabled={true}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"link-color"}
            >
              {t("lg")}
            </Button>
            <br />
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              target={"_blank"}
              size={"md"}
              disabled={true}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"link-color"}
            >
              {t("md")}
            </Button>
            <br />
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              target={"_blank"}
              size={"sm"}
              disabled={true}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"link-color"}
            >
              {t("sm")}
            </Button>
            <br />
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              target={"_blank"}
              disabled={true}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"link-color"}
            >
              {t("Link Color Disabled Button")}
            </Button>
          </td>
        </tr>
        <tr>
          <th>Destructive</th>
          <td>
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              target={"_blank"}
              size={"2xl"}
              destructive={true}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"primary"}
            >
              {t("2xl")}
            </Button>
            <br />
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              target={"_blank"}
              size={"xl"}
              destructive={true}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"primary"}
            >
              {t("xl")}
            </Button>
            <br />
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              target={"_blank"}
              size={"lg"}
              destructive={true}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"primary"}
            >
              {t("lg")}
            </Button>
            <br />
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              target={"_blank"}
              size={"md"}
              destructive={true}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"primary"}
            >
              {t("md")}
            </Button>
            <br />
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              target={"_blank"}
              size={"sm"}
              destructive={true}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"primary"}
            >
              {t("sm")}
            </Button>
            <br />
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              target={"_blank"}
              destructive={true}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"primary"}
            >
              {t("Primary Destructive Button")}
            </Button>
          </td>
          <td>
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              target={"_blank"}
              size={"2xl"}
              destructive={true}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"secondary-gray"}
            >
              {t("2xl")}
            </Button>
            <br />
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              target={"_blank"}
              size={"xl"}
              destructive={true}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"secondary-gray"}
            >
              {t("xl")}
            </Button>
            <br />
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              target={"_blank"}
              size={"lg"}
              destructive={true}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"secondary-gray"}
            >
              {t("lg")}
            </Button>
            <br />
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              target={"_blank"}
              size={"md"}
              destructive={true}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"secondary-gray"}
            >
              {t("md")}
            </Button>
            <br />
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              target={"_blank"}
              size={"sm"}
              destructive={true}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"secondary-gray"}
            >
              {t("sm")}
            </Button>
            <br />
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              target={"_blank"}
              destructive={true}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"secondary-gray"}
            >
              {t("Secondary Gray Destructive Button")}
            </Button>
          </td>
          <td>
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              target={"_blank"}
              size={"2xl"}
              destructive={true}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"link-gray"}
            >
              {t("2xl")}
            </Button>
            <br />
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              target={"_blank"}
              size={"xl"}
              destructive={true}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"link-gray"}
            >
              {t("xl")}
            </Button>
            <br />
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              target={"_blank"}
              size={"lg"}
              destructive={true}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"link-gray"}
            >
              {t("lg")}
            </Button>
            <br />
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              target={"_blank"}
              size={"md"}
              destructive={true}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"link-gray"}
            >
              {t("md")}
            </Button>
            <br />
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              target={"_blank"}
              size={"sm"}
              destructive={true}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"link-gray"}
            >
              {t("sm")}
            </Button>
            <br />
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              target={"_blank"}
              destructive={true}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"link-gray"}
            >
              {t("Link Gray Destructive Button")}
            </Button>
          </td>
          <td>
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              target={"_blank"}
              size={"2xl"}
              destructive={true}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"link-color"}
            >
              {t("2xl")}
            </Button>
            <br />
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              target={"_blank"}
              size={"xl"}
              destructive={true}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"link-color"}
            >
              {t("xl")}
            </Button>
            <br />
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              target={"_blank"}
              size={"lg"}
              destructive={true}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"link-color"}
            >
              {t("lg")}
            </Button>
            <br />
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              target={"_blank"}
              size={"md"}
              destructive={true}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"link-color"}
            >
              {t("md")}
            </Button>
            <br />
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              target={"_blank"}
              size={"sm"}
              destructive={true}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"link-color"}
            >
              {t("sm")}
            </Button>
            <br />
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              target={"_blank"}
              destructive={true}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"link-color"}
            >
              {t("Link Color Destructive Button")}
            </Button>
          </td>
        </tr>
        <tr>
          <th>Disabled and Destructive</th>
          <td>
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              target={"_blank"}
              size={"2xl"}
              disabled={true}
              destructive={true}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"primary"}
            >
              {t("2xl")}
            </Button>
            <br />
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              target={"_blank"}
              size={"xl"}
              disabled={true}
              destructive={true}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"primary"}
            >
              {t("xl")}
            </Button>
            <br />
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              target={"_blank"}
              size={"lg"}
              disabled={true}
              destructive={true}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"primary"}
            >
              {t("lg")}
            </Button>
            <br />
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              target={"_blank"}
              size={"md"}
              disabled={true}
              destructive={true}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"primary"}
            >
              {t("md")}
            </Button>
            <br />
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              target={"_blank"}
              size={"sm"}
              disabled={true}
              destructive={true}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"primary"}
            >
              {t("sm")}
            </Button>

            <br />
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              target={"_blank"}
              disabled={true}
              destructive={true}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"primary"}
            >
              {t("Primay Disabled and Destructive Button")}
            </Button>
          </td>
          <td>
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              target={"_blank"}
              size={"2xl"}
              disabled={true}
              destructive={true}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"secondary-gray"}
            >
              {t("2xl")}
            </Button>

            <br />
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              target={"_blank"}
              size={"xl"}
              disabled={true}
              destructive={true}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"secondary-gray"}
            >
              {t("xl")}
            </Button>
            <br />
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              target={"_blank"}
              size={"lg"}
              disabled={true}
              destructive={true}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"secondary-gray"}
            >
              {t("lg")}
            </Button>
            <br />
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              target={"_blank"}
              size={"md"}
              disabled={true}
              destructive={true}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"secondary-gray"}
            >
              {t("md")}
            </Button>

            <br />
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              target={"_blank"}
              size={"sm"}
              disabled={true}
              destructive={true}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"secondary-gray"}
            >
              {t("sm")}
            </Button>

            <br />
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              target={"_blank"}
              disabled={true}
              destructive={true}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"secondary-gray"}
            >
              {t("Secondary Gray Disabled and Destructive Button")}
            </Button>
          </td>
          <td>
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              target={"_blank"}
              size={"2xl"}
              disabled={true}
              destructive={true}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"link-gray"}
            >
              {t("2xl")}
            </Button>
            <br />
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              target={"_blank"}
              size={"xl"}
              disabled={true}
              destructive={true}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"link-gray"}
            >
              {t("xl")}
            </Button>

            <br />
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              target={"_blank"}
              size={"lg"}
              disabled={true}
              destructive={true}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"link-gray"}
            >
              {t("lg")}
            </Button>

            <br />
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              target={"_blank"}
              size={"md"}
              disabled={true}
              destructive={true}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"link-gray"}
            >
              {t("md")}
            </Button>

            <br />
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              target={"_blank"}
              size={"sm"}
              disabled={true}
              destructive={true}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"link-gray"}
            >
              {t("sm")}
            </Button>

            <br />
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              target={"_blank"}
              disabled={true}
              destructive={true}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"link-gray"}
            >
              {t("Link Gray Disabled and Destructive Button")}
            </Button>
          </td>
          <td>
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              target={"_blank"}
              size={"2xl"}
              disabled={true}
              destructive={true}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"link-color"}
            >
              {t("2xl")}
            </Button>
            <br />
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              target={"_blank"}
              size={"xl"}
              disabled={true}
              destructive={true}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"link-color"}
            >
              {t("xl")}
            </Button>

            <br />
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              target={"_blank"}
              size={"lg"}
              disabled={true}
              destructive={true}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"link-color"}
            >
              {t("lg")}
            </Button>
            <br />
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              target={"_blank"}
              size={"md"}
              disabled={true}
              destructive={true}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"link-color"}
            >
              {t("md")}
            </Button>

            <br />
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              target={"_blank"}
              size={"sm"}
              disabled={true}
              destructive={true}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"link-color"}
            >
              {t("sm")}
            </Button>

            <br />
            <Button
              type={"anchor"}
              href="https://app.neptunemutual.net"
              rel="noopener"
              target={"_blank"}
              disabled={true}
              destructive={true}
              iconTrailing="arrow-narrow-right"
              iconLeading="arrow-narrow-left"
              variant={"link-color"}
            >
              {t("Link Color Disabled and Destructive Button")}
            </Button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
